/* HEADER */ 
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 3.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-title {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 3.5rem;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* BANNER */
.banner {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 90vh;
    justify-content: center;
    overflow: hidden;
}

.banner-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4.5rem;
}

.banner-img {
    height: auto;
    width: 120%;
}

.contact-btn {
    padding: 15px 75px;
}

/* FOOTER */
.footer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "social social" "contact copy";
}

.footer-social {
    align-items: center;
    display: flex;
    grid-area: social;
    justify-content: space-evenly;
}

.footer-contact {
    display: flex;
    justify-content: space-evenly;
}

.footer-copy {
    align-items: flex-end;
    display: flex;
    grid-area: copy;
    justify-content: flex-end;
    padding-right: 3.5rem;
}