<header class="card__header">
    <h1>
        <a href="{{ .Permalink }}" class="card__title" alt="{{ .Title }}.">
            {{ .Title }}
        </a>
    </h1>
    {{ if $.Site.Params.posts.showDate }}
    <p class="card__date">{{ dateFormat $.Site.Params.posts.dateFormat .Date }}</p>
    {{ end }}
</header>

<main class="card__body">
    {{ .Content | truncate 480 }}
</main>

{{ if $.Site.Params.posts.showTags }}
{{ if .Params.Tags }}
<footer>
    <ul class="tags">
        {{ range .Params.Tags }}
        {{ $url := printf "%s/tags/%s/" $.Site.BaseURL .}}
        <li class="tags-card">
            <a href="{{ $url }}" class="tags__item__link" alt="{{ . }}.">#{{ . }}</a>
        </li>
        {{ end }}
    </ul>
</footer>
{{ end }}
{{ end }}