{{ define "main" }}
<article class="post">
    <header class="post__header">
        <h1 class="post__title">{{ .Title }}</h1>
        {{ if .Description }}
        <p class="post__subtitle">{{ .Description }}</p>
        {{ end }}
        {{ if ne .Type "page" }}
        {{ if $.Site.Params.posts.showAuthor }}
        <p class="post__author author">By {{ $.Params.author }}</p>
        {{ end }}
        {{ if $.Site.Params.posts.showDate }}
        <p class="post__date date">{{ dateFormat $.Site.Params.posts.dateFormat .Date }}</p>
        {{ end }}
        {{ end }}
    </header>

    <hr>

    <main class="post__body">
        {{ .Content }}
    </main>

    <hr>

    <footer class="post__footer">
        {{ .Render "tags" }}
    </footer>
</article>
{{ end }}