:root {
    /* Font Sizes */
    --title: 3.998rem;
    --subtitle: 2.827rem;
    --header: 1.999rem;
    --subheader: 1.414rem;

    /* Colors */
    /* FIXME: Add white */
    --primary: #ffc107;
    --primary-dark: #ffa000;
    --primary-light: #ffecb3;
    --primary-text: #212121;
    --secondary-text: #333333;
    --accent: #536dfe;
    --divider: #bdbdbd;
}
