:root {
    /* Font Sizes */
    --title: 3.157rem;
    --subtitle: 2.369rem;
    --header: 1.777rem;
    --subheader: 1.333rem;
    --text: 1.3rem;

    /* Colors */
    /* FIXME: Add white */
    --primary: #ffc107;
    --primary-dark: #ffa000;
    --primary-light: #ffecb3;
    --primary-text: #212121;
    --secondary-text: #757575;
    --accent: #536dfe;
    --divider: #bdbdbd;
}
