.hero {
	background-size: contain;
	max-height: 85%;
}

@media only screen and (max-width: 1024px) {
	.hero {
		background-position: -65% 0;
		background-size: cover;
    }
}

@media only screen and (max-width: 576px) {
    .hero {
		background-position: -85% 0;
	}
}