.hero {
	background-size: 50%;
	background-position: 100% 165%;
}

@media only screen and (max-width: 1024px) {
	.hero {
		background-size: 60%;
		background-position: center 200%;
    }
}

@media only screen and (max-width: 576px) {
    .hero {
		background-size: 115%;
		background-position: center 250%;
	}
}