.header {
    background-color: white;
    box-shadow: 0 1px 5px var(--divider);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 3.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header__title {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 3.5rem;
}

.header__title__link {
    color: var(--primary-dark);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
}

.menu__item {
    margin: 0 1.5rem;
}

.menu__item__link {
    color: var(--primary-text);
    padding: 0.5rem 0;
    position: relative;
}

.menu__item__link:hover,
.menu__item__link:focus {
    color: var(--primary-text);
}

.menu__item__link::before {
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    transition: all 0.25s ease-in-out;
    width: 0%;
}

.menu__item__link::before {
    background-color: var(--primary);
}

.menu__item__link:hover::before,
.menu__item__link:focus::before {
    opacity: 1;
    width: 100%;
}

.menu__item__link.active::before {
    opacity: 1;
    width: 100%;
}

.hero {
    align-content: center;
    background-attachment: fixed;
    background-position: 100% 20%;
    background-repeat: no-repeat;
    display: flex;
    height: 90vh;
    justify-content: flex-start;
    width: 100%;
}

.hero__caption {
    align-items: flex-start;
    animation: focus 0.95s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4.5rem;
}

.hero__caption > h1 {
    font-size: var(--title);
}

.hero__caption > h2 {
    font-size: var(--subheader);
}

.cta__btn {
    background-color: var(--primary-dark);
    color: white;
    margin-top: 4.5rem;
    overflow: hidden;
    padding: 1.15rem 4.5rem;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: all 0.25s;
}

.cta__btn:hover {
    color: white;
    background-color: var(--primary);
}

.cta__btn::after {
    background-image: radial-gradient(circle, var(--primary-light) 10%, transparent 10.01%);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transform: scale(10, 10);
    transition: transform .5s, opacity 1s;
    width: 100%;
}

.cta__btn:active::after {
    opacity: 0.7;
    transform: scale(0, 0);
    transition: 0s;
}

.footer {
    border-top: 1px solid var(--divider);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "social social social social" "contact contact contact copy";
}

.footer__social {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--divider);
    display: flex;
    flex-wrap: wrap;
    grid-area: social;
    justify-content: center;
}

.footer__social__link {
    background-color: var(--primary-text);
    border-radius: 50%;
    color: white;
    font-size: var(--subheader);
    height: 35px;
    line-height: 35px;
    margin-left: 2.75rem;
    position: relative;
    text-align: center;
    width: 35px;
}

.footer__social__link::after,
.social__link::before {
    background: transparent;
    border: 1.5px solid var(--primary-text);
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s all;
}

.footer__social__link:hover {
    background-color: transparent;
    color: var(--secondary-text);
}

.footer__social__link:hover::after {
    border-color: var(--secondary-text);
    transform: scale(1.5);
}

.footer__social__link:hover::before {
    color: var(--secondary-text);
    opacity: 0;
    transform: scale(2);
    transition: 0.3s all;
}

.footer__contact,
.copy {
    padding: 1rem 0;
    background-color: var(--primary-dark);
}

.footer__contact {
    display: flex;
    grid-area: contact;
}

.footer__contact__item {
    align-items: center;
    display: flex;
    margin-left: 3.5rem;
}

.footer__contact__item > span {
    color: var(--primary-text);
    margin-right: 0.45rem;
}

.footer__contact__link,
.address {
    color: white;
}

.copy {
    align-items: flex-end;
    display: flex;
    font-size: 0.95rem;
    grid-area: copy;
    justify-content: flex-end;
    padding-right: 3.5rem;
}

.content {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 4.5rem;
    min-height: 90vh;
}

.card {
    margin-bottom: 2.75rem;
    margin-left: 3.75rem;
    max-width: 50%;
}

.card__title {
    color: var(--primary-text);
}

.card__title:hover {
    color: var(--primary);
}

.card__date {
    font-size: 0.95rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.post {
    margin-top: 4.5rem;
    min-height: 90vh;
    text-justify: distribute;
}

.post__header {
    display: grid;
    grid-template-areas: "title" "subtitle" "date";
    grid-template-rows: auto;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.post__title {
    font-size: var(--header);
}

.post__subtitle {
    margin-top: 0;
}

.post__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

.tags {
    display: flex;
    padding: 0;
    list-style: none;
}

.post__tags {
    justify-content: center;
}

.tags__item__link {
    color: var(--primary-text);
    margin-right: 1rem;
}

.tags__item__link:hover {
    color: var(--primary-dark);
}

.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4.5rem;
    min-height: 90vh;
}

.contact__content {
    margin-bottom: 1.75rem;
    margin-top: 0;
    max-width: 60%;
    text-align: center;
}

.contact-form {
    display: grid;
    grid-template-areas: "name email" "msg msg" "submit submit";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.contact-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}

.contact-field > label {
    margin-bottom: 0.45rem;
}

.contact-field > input {
    height: 1.9rem;
    padding: 1rem 0.75rem;
    width: 20rem;
}

.contact-field > textarea {
    height: 12rem;
    padding: 0.75rem 0.75rem;
    width: 100%;
}

.contact-field--name {
    grid-area: name;
    margin-right: 1rem;
}

.contact-field--email {
    grid-area: email;
}

.contact-field--msg {
    grid-area: msg;
}

.contact-field--submit {
    align-content: center;
    display: grid;
    grid-area: submit;
    justify-content: center;
    margin-top: 1.75rem;
}

.submit {
    background-color: var(--primary-dark);
    border: none;
    color: white;
    padding: 1.15rem 4.5rem;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: all 0.25s;
    overflow: hidden;
}

.submit:hover {
    color: white;
    background-color: var(--primary);
}

.submit::after {
    background-image: radial-gradient(circle, var(--primary-light) 10%, transparent 10.01%);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transform: scale(10, 10);
    transition: transform .5s, opacity 1s;
    width: 100%;
}

.submit:active::after {
    opacity: 0.7;
    transform: scale(0, 0);
    transition: 0s;
}